@charset "utf-8";
/* CSS Document */

*{
	box-sizing: border-box;
	transition: all ease-in-out 250ms;
}

body{
	margin: 0;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	background-color: black;
}

img{
	max-width: 100%;
	height: auto;
}

.container{
	width: 95%;
	margin: auto;
	max-width: 70em;
}

.clearfix::after,
section::after,
footer::after{
	content:'';
	display:block;
	clear:both;
}

.unstyled-list{
	margin: 0;
	padding: 0;
	list-style: none;
}

.unstyled-list a{
	text-decoration: none;
}

.unstyled-list a:hover{
	font-weight: bold;
	color: #308f6a;
}

/*COLUMNS*/

[class^=col-]{
	width: 100%;
	margin-top: 1em
	}
[class^=col-]:first-child{
		padding-top: 0;
	}
.col-1{
	width: 33.3334%;
	float: left;
}

@media (min-width:40rem){
	[class^=col-]{
		float: left;
		padding: 0 .5em;
		margin-top: 0;
	}

	[class^=col-]:last-child{
		padding-right: 0;
	}

	.col-3{
		width: 50%;
		padding-left: 0;
	}

	.col-1{
		width: 16.66%;
	}
}
/*TYPOGRAPHY*/

h1 {
	font-weight: 300;
	font-size: 1.7rem;
	margin-top: 0;
}

p {
	padding: 0 1em;
	line-height: 1.5;
	text-align: center;
}
.title{
	font-size: 2.5rem;
	margin-bottom: 1.5em;
	font-weight: 900;
	margin-top: 1em;
}
.title span{
	font-weight: 300;
	display: block;
	font-size: .8em;
}

@media (min-width: 55rem){
	.title {
		font-size: 3.7rem;
	}
}

.portfolio h1{
	color: white;
	margin-right:20%;
	margin-left:20%;
	margin-bottom: 2em;
	padding:.5em 0;
	border-bottom: 1px solid white;
}

.ac {
	color:white;
	margin: 0 0 .5em;
}
.subtitle {
	color: black;
}

/*BUTTONS*/

.button{
	display: inline-block;
	font-size: 1.15em;
	text-decoration: none;
	text-transform: uppercase;
	border-style: solid;
	border-width: 2px;
	padding: .5em 1.5em;
}

.button-accent {
	color: #308f6a;
}

.button-accent:hover{
	background: #308f6a;
	border-color: #308f6a;
	color: white;
}

.button-dark{
	color: black;
}

.button-dark:hover{
	background: black;
	border-color: black;
	color: white;
}

@media(min-width: 60rem){
	.button{
		font-size:1.5rem;
	}
}

.button-small{
	font-size: .7rem;
	font-weight: 700;
}

/*HEADER*/

header {
	position: absolute;
	left:0;
	right:0;
	margin:1em;
}

header img{
	float: left;
	margin-left: 10%;
}
nav ul{
	float: left;
	padding: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin: 1em;
}

nav a{
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .8rem;
	padding: .5em;
	color: white;
}

nav a:hover{
	background: #308f6a;
}

@media (min-width:60rem){
	.logo{
		float: left;
	}
	nav{
		float:right;
	}
}
/*BANNER*/

.banner{
	background-image: url(images/banner.png);
	padding: 20em 0;
	background-size: cover;
	background-position: center;
	color: white;
}


@media (min-width:60rem){
	.banner{
		height: 100vh;
		padding-top: 30vh;
	}
}


/*ABOUT*/
.about-textbox{
	background-color: #f8f8f8;
	padding: 3em;
	width: 100vw;
	margin-left: -2.5%;
	outline: 2px solid black;
	outline-offset: -3em;
	position: relative;
}

.about-textbox h1{
	position:absolute;
	left: 50%;
	transform: translateX(-50%);
	top: .9em;
	background: #f8f8f8;
	padding: 0 .5em;
}

@media (min-width:30rem){
	h1{
		font-size: 2rem;
	}
	.about-textbox h1{
		top: .6em;
	}
}

@media (min-width:60rem){
	h1{
		font-size: 1.7rem;
	}
	.about{
		background-image: url(images/about.png);
		padding: 5em;
		background-repeat: no-repeat;
	}
	.about-textbox{
		width: 50%;
		padding: 4em;
		outline-offset: -3em;
		margin-left: -2.5%;
		text-align: left;
		top: -7.5em;
		box-shadow: 0 0 3em 0 rgba(0, 0, 0, .25);
	}
	.about-textbox h1{
		top: .9em;
	}
}

/*PORTFOLIO*/

.portfolio{
	margin: 3em 0 0;
}

.port-item{
	position: relative;
	margin: 0;
}

.port-item img{
	display: block;
}

.port-desc{
	position:absolute;
	z-index: 1;
	bottom: 0em;
	left:0em;
	right: 0em;
	color: white;
	background: rgba(0,0,0, .75);
	padding-bottom: 1em;
}

.port-desc p{
	margin: 1em;
}


@media (min-width: 40rem){
	.port-item{
		width: 50%;
		float: left;
	}
}


@media (min-width: 60rem){
	.port-item{
		width: 33.3333334%;
		overflow: hidden;
	}
	
	.port-desc{
		transform: translateY(150%);
	}
	
	.port-item:hover .port-desc{
		transform: translateY(0%);
	}
}

/*ACTION*/

.action{
	background-color: #308f6a;
	padding: 6em 0;
}


/*FOOTER*/

footer{
	color: white;
	text-align: left;
	padding: 5em 0;
}
footer a{
	color: white;
}



.social-media{
	width: 50%;
}

.social-media ul{
	list-style: none;
	transform: translateX(82%);
}

.social-media li{
	display: inline-block;
	margin: 1em .5em;
}